services:
  profile-service:
    build:
      context: ./profile-service
      dockerfile: Dockerfile
    image: lianel-profile-service:latest
    container_name: lianel-profile-service
    env_file:
      - .env
    environment:
      PORT: 3000
      KEYCLOAK_URL: http://keycloak:8080
      KEYCLOAK_REALM: ${KEYCLOAK_REALM:-lianel}
      KEYCLOAK_ADMIN_USER: ${KEYCLOAK_ADMIN_USER}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      RUST_LOG: info
    expose:
      - "3000"
    depends_on:
      - keycloak
    restart: unless-stopped
    networks:
      - lianel-network

networks:
  lianel-network:
    external: true

