* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* EU date inputs: always plain text, no browser date picker icon (use type="text" + DD/MM/YYYY) */
input[data-date-format="eu"],
.eu-date-input-wrapper input[type="text"] {
  background-image: none !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
