global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "recording-rules.yml"
  - "alerts/*.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'nginx'
    static_configs:
      - targets: ['nginx-proxy:80']

  - job_name: 'airflow'
    static_configs:
      - targets: ['airflow-apiserver:8080']

  - job_name: 'redis'
    static_configs:
      - targets: ['redis:6379']
